@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.animate-shake {
    animation: shake 0.4s ease-in-out;
    background-color: #ef4444 !important; /* Berubah merah sebentar saat gagal */
}

/* SWEETALERT2 */
/* Merubah warna spinner loading */
.swal2-loader {
    border-color: #16a34a transparent #16a34a transparent !important;
}

/* Merubah warna progress bar (jika timerProgressBar: true) */
.swal2-timer-progress-bar {
    background: #16a34a !important;
}

/* Opsional: Merubah warna ikon success agar hijaunya sama */
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #16a34a !important;
}
.swal2-icon.swal2-success {
    border-color: #16a34a !important;
}

/* Menghilangkan panah di semua browser */
.appearance-none {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standard */
}

/* Khusus untuk Internet Explorer/Edge lama */
.appearance-none::-ms-expand {
    display: none;
}